table {
  width: 80%;
  margin-left: 10%;
  text-align: center;
}

 th, td {
  border: 0.5px solid black;
}

h1 {
  text-align: center;
}

h3,h4 {
  margin-left: 10%;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.filter-label {
  margin-left: 10%;
}

:host ::ng-deep mat-form-field {
  margin-left: 1%;
  margin-bottom: 10px;
  margin-top: -5px;
  width: 63%;
  border-bottom: 0.5px solid black;
}

tr.employee-detail-row {
  height: 0;
}

tr.employee-element-row:not(.employee-expanded-row):hover {
  background: #f5f5f5;
}

tr.employee-element-row:not(.employee-expanded-row):active {
  background: #efefef;
}

.employee-element-row td {
  border-bottom-width: 0;
}

.employee-element-detail {
  overflow: hidden;
  display: flex;
}

.employee-detail-box {
  width: 100%;
  border: 2px solid black;
  font-weight: lighter;
  margin: 8px 0;
  height: 115px;
}

.employee-details-heading {
  font-weight: bold;
  font-size: 20px;
}
